.Slider{
    height: 250px;
    width: 98%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    overflow: hidden;
    
}

.btnDiv{
    margin: auto;
    z-index: 5;
    width:0.5px;
}
.btn{
    padding: 25px 5px;
    background-color: white;
    font-size: 30px;
    display: flex;
    border: none;
    outline: none;

}

.slider_Image{
    display: flex;
    transition: 1s ease-in-out;
}
.slide{
width: 100%;
padding: 1px;

}

#btn_right{
position: relative;
right: 39px;
}
